body {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    background: rgb(177,177,177);
    background: linear-gradient(90deg, rgba(177,177,177,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(177,177,177,1) 100%);
}

.container {
    width: 98%;
    margin: 0 auto;
}

.App {
    margin-top: 20px;
}

.requiredField:after {
    content:"*";
    color:red;
}

.controlButton {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
}
